<h1>Shiver Me Tinder</h1>
<p>A dating app by pirates, for pirates</p>

<button (click)="log_data()">Show Profiles</button>
<!-- Display user cards carousel -->
<div class="center">
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [interval]="'0'" [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1">
            <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
            <mdb-card-title>
                <h4>{{card.title}}</h4>
            </mdb-card-title>
            <p>{{card.description}}</p>
            <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
            </mdb-card-body>
        </mdb-card>
        </div>
    </mdb-carousel-item>
    </mdb-carousel>
</div>

<div>
    <h1>Chats</h1>
    <div *ngFor='let chat of messages'>
        <div *ngFor='let message of chat'>
            <p>Sender: {{message[1]}}</p>
            <p>Reciever: {{message[2]}}</p>
            <p>Message: {{message[0]}}</p>
        </div>
    </div>
</div>