<h1>Shiver Me Tinder</h1>
<p>A dating app by pirates, for pirates</p>

<button (click)="log_data(someid)">Show Profiles</button>
<!-- Display user cards carousel -->
<div class="center">
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [interval]="'0'" [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1" *ngIf="card.show">
            <mdb-card-img [src]="card.img" alt="Advertisement image"></mdb-card-img>
            <mdb-card-body>
            <mdb-card-title>
                <h4>{{card.title}}</h4>
            </mdb-card-title>
            <p>{{card.description}}</p>
            <a mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="card.expand = true;">{{card.buttonText}}</a>
            </mdb-card-body>
        </mdb-card>
        <app-expand-profile *ngIf="card.expand" [title] = "card.title" [description] = "card.description" [image] = "card.img" [rank] = "card.rank" [username] = "card.username"></app-expand-profile>
        <div class="example-button-row" *ngIf="card.show">
                <button type="button" (click)="disliked(card.user_id)" class="btn btn-outline-dark">Narr</button>
                <button type="button" (click)="liked(card.user_id)" class="btn btn-outline-dark">Yarr</button>
        </div>
        </div>
    </mdb-carousel-item>
    </mdb-carousel>
</div>

<div>
    <h1>Chats</h1>
    <div *ngFor='let chat of messages'>
        <div *ngFor='let message of chat'>
            <p>Sender: {{message[1]}}</p>
            <p>Reciever: {{message[2]}}</p>
            <p>Message: {{message[0]}}</p>
        </div>
    </div>
</div>